<div class="user fields show">
                <div class="item">
                    <p>Nome</p>
                    <div>
                        <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo">
                    </div>
                </div>
                <div class="item">
                    <p>Email</p>
                    <div>
                        <input type="text" name="email" value="{{user.email}}" placeholder="Digite o Email" onblur="Validate.apply(this,'isEmail')">
                    </div>
                </div>
                 <div class="item">
                    <p>Senha</p>
                    <div>
                        <input type="password" name="password" placeholder="Digite a sua Senha">
                    </div>
                </div>

                <input type="hidden" name="is_admin" value="{{user.is_admin}}">
</div>