{% extends "Admin/layout.njk" %}
{% block content %}
    <div class="create_content">
        <form action="/admin/rifas" method="Post" enctype="multipart/form-data">
            <div class="create_header">
                <p>Criando Rifa</p>
                <button type="submit">Salvar Rifa</button>
            </div>
            {% include "Admin/recipes/fields.njk" %}
        </form>
    </div>
{% endblock %}