<header>
    <div class="container-header">
    <div class="logo">
        <a href="/admin/rifas/"><img src="/assets/logod.png" alt=""></a>
    </div>
    <div class="linksadmin">
        {% if not session.isAdmin %}
        <a href="/admin/rifas">Minhas Rifas</a>
        <a href="/admin/users">Clientes</a>
        <a href="/admin/compras">Compras</a>
        <a href="/admin/catalogo">Catálogo</a>
        {% endif %}
        {% if session.isAdmin %}
        <a href="/admin/rifas">Rifas</a>
        <a href="/admin/users">Clientes</a>
        <a href="/admin/compras">Compras</a>
        {% endif %}
    </div>
    {% if session.userId %}
    <div class="logout_button">
        <form action="/admin/users/logout" method="POST">
            <button>Sair</button>
        </form>
    </div>
    {% endif %}
    </div>
</header>
