<script src="/scripts/script_files.js"></script>
<script src="/scripts/script_admin.js"></script>
<script src="/scripts/script_file_chef.js"></script>
<script src="/scripts/script_header_admin.js"></script>
<script src="/scripts/script_validate.js"></script>