<div class="fields">
    <div class="item">
        <p>Imagem da Rifa</p>
        <div>
            <div class="photos">
                <div id="photos-upload">
                    <input
                        type="file"
                        name="photos"
                        id="photos-input"
                        multiple
                        accept="image/*"
                        onchange="PhotosUpload.handleFileInput(event)">
                        <i class="material-icons">add</i>
                    </div>
                    <div id="photos-preview-select">
                        {% if files %}
                            {% for image in files %}
                                <div class="photo" id="{{ image.id }}">
                                    <img src="{{ image.src }}" alt="{{ image.name }}">
                                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="removed_files">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <p>Nome da Rifa</p>
                <div>
                    <input type="text" name="name" value="{{ rifa.name }}">
                </div>
            </div>
            <div class="item">
                <p>Número de Bilhetes</p>
                <div>
                    <input type="number" name="numeroBilhetes" value="{{ rifa.numeroBilhetes }}" min="1">
                </div>
            </div>
        </div>
