{% extends "Admin/layout.njk" %}
{% block content %}
    <div class="global">
        <div class="show_content">
            <div class="show_header">
                <div class="recipe_show_title">
                    <p>Rifa:{{rifa.name}}</p>
                </div>
                <div class="show_edit">
                    <a href="/admin/Receitas/{{rifa.rifa_id}}/edit">Editar Rifa</a>
                </div>
            </div>
            <div class="gallery">
                <div class="highlight">
                    {% if not files[0] %}
                 <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="">
                {% else %}
                <img src="{{files[0].src}}" alt="" srcset="">
                {% endif %}
                </div>
                <div class="gallery-preview">
                    {% for image in files %}
                         <img src="{{image.src}}" alt="{{image.name}}"
                         {% if loop.index0 == 0 %}class="active"{% endif %}
                         onclick="ImageGallery.setImage(event)"
                         >
                    {% endfor %}
                </div>
            </div>
            <div class="main_image_show">
            </div>
            <div class="show_info">
                <div class="title">
                    <p>{{recipe.title}}</p>
                </div>
                 <div class="title">
                    <p>Nome da Rifa: {{rifa.name}}</p>
                </div>
                <div class="title">
                    <p>Número de Bilhetes: {{rifa.numerobilhetes}}</p>
                </div>
                  <div class="title">
                    <p>{{rifa.expire}}</p>
                </div>
                  <div class="title">
                    <p>{{rifa.created_at}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}