<div class="fields">
    <div class="item">
        <p>Imagem da Receita</p>
        <div>
            <div class="photos">
                <div id="photos-upload">
                    <input
                        type="file"
                        name="photos"
                        id="photos-input"
                        multiple
                        accept="image/*"
                        onchange="PhotosUpload.handleFileInput(event)">
                        <i class="material-icons">add</i>
                    </div>
                    <div id="photos-preview-select">
                        {% if files %}
                            {% for image in files %}
                                <div class="photo" id="{{ image.id }}">
                                    <img src="{{ image.src }}" alt="{{ image.name }}">
                                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="removed_files">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>Nome da Receita</p>
                    <div>
                        <input type="text" name="title" value="{{ recipe.title }}"></div>
                    </div>
                    <div class="item">
                        <p>Ingredientes</p>
                        <div class="ingredients">
                            {% if recipe.ingredients %}
                                {% for ingredient in recipe.ingredients %}
                                    <div class="ingredient">
                                        <input type="text" name="ingredients[]" value="{{ ingredient }}"></div>
                                    {% endfor %}
                                {% else %}
                                    <div class="ingredient">
                                        <input type="text" name="ingredients[]" value=""></div>
                                    {% endif %}
                                </div>
                                <div class="content_add">
                                    <a class="add_ingredient">Adicionar novo ingrediente</a>
                                </div>
                            </div>
                            <div class="item">
                                <p>Modo de preparo</p>
                                <div class="preparations">
                                    {% if recipe.preparation %}
                                        {% for preparation in recipe.preparation %}
                                            <div class="preparation">
                                                <input type="text" name="preparation[]" value="{{ preparation }}"></div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="preparation">
                                                <input type="text" name="preparation[]" value=""></div>
                                            {% endif %}
                                        </div>
                                        <div class="content_add">
                                            <a class="add_preparation">Adicionar novo passo</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <p>Informações adicionais</p>
                                        <div>
                                            <textarea name="information" cols="100%" rows="10" value="{{ recipe.information }}">{{ recipe.information }}</textarea>
                                        </div>
                                    </div>
                                </div>
                               